.variable {
	background: #ccff66;
}
.empty_variable {
	background: #ff6666;
}
.section:hover {
	cursor: pointer;
	background: #ffffcc;
	
}
.section_list_item:hover {
	background: #f7f7f7;
}
.delete_section {
	color: #ff0000 !important;
	
}
