.variable {
	background: #ccff66;
}
.empty_variable {
	background: #ff6666;
}
#section_container_test ol li:hover {
	cursor: pointer;
	background: #ffffcc;
	
}
.section_list_item:hover {
	background: #f7f7f7;
}

.proposal_preview .toc ol li:hover{
	background: #ffffcc url(../icons/direction.png) no-repeat right;
		cursor: pointer;
}

.editing_buttons {
    display: block;
}
