<script type="text/template" id="dashboard_login_view_template">
<br />
<br />
<br />
<div id="loginwindow" style="padding-bottom: 15px; width: 610px;margin: auto;">
    <div style="float: left; width: 289px; margin-top: -40px; padding: 30px;">
    <h3 style="color: #444;">Proposal Generation Software</h3>
    <p style="color: #333;">Fast, easy and fluid. Generate proposals using templates and variables to save time!</p>
    <br />
    <ul class="icons">
    <li><img src="/media/icons/proposal.png" />Create on the fly. Protosal gives you the flexibility to work the way you want.</li>
    <li><img src="/media/icons/email.png" />Send out emails with proposal pdfs attached straight from Protosal.</li>
    <li><img src="/media/icons/graph.png" />Track proposal metrics. Learn ahead of time what is working, and what isn't.</li>
    
    </ul>
    <br />
  
    </div>
    <div class="logintabs" style="border: none; width: 260px; z-index: 1; float: right;overflow: hidden;" title="protosal registration form">
        <a style="float: right;" href="#tab-2" class="register userpage button blue">Start Free Trial</a>
      
        <div style="clear:both;"></div>
        <div class="logintab" id="tab-1">
        <br />
            <div id="loginformc"  style=" margin: auto;">
                <form id="loginform" class="pretty">
                    <fieldset> 
                        <legend></legend> 
                        <ol>
                            <li><label for="username">Email</label><input class="required" minlength="3"  value="<%= typeof route_id != "undefined" ? route_id : "" %>" id="username" name="username" type="text" /></li>
                            <li><label for="password">Password</label><input type="password" name="password" id="password" value="" class="required" minlength="6" /></li>
                        </ol>
                    </fieldset>
                    
 
                    <div> 
                      
                        <button style="float: right; margin-right: 20px;" id="loginbutton" type="submit" class="submit" value="Login" >Login</button>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="logintab" id="tab-2">
            <div id="registerform"  style=" margin: auto;">
        
        
       
       <form id="registrationform"  class="pretty" method="post">
        
           <fieldset> 
        <legend></legend> 
           <ol>
               <li><label for="email">Email</label><input id="email" name="email" type="text" /></li>
            <li><label for="password">Password</label><input type="password" name="password" /></li>
            <li><label style="width: 140px;" for="password">Password Again</label><input type="password" name="password2" /></li>
        </ol>
        </fieldset>
       <p style="padding-left: 155px;">  <button id="registerbutton" type="submit" class="submit" >Register</button></p>

       </form>

     
        </div>
    
    </div>

    </div>
    <br />
    <br />
    <br />
    
    </div>

    
    
    <br />
    <div style="clear:both;"></div>
    <br /><br />
    <br />
        <div  style="width: 750px; margin: auto;">
    <div style="float: left; text-align: center;">
        
        <h3>View Screenshots</h3>
           <a href="/media/images/screenshots/dashboard.png" rel="example1" title="View an overview of your proposals on your dashboard">  
        <img style="width: 350px" class="demopic"  src="/media/images/screenshots/dashboard.png" />
    </a>
     <a style="display: none;" href="/media/images/screenshots/sectionlist.png" rel="example1" title="Easily search your proposals/sections/fees/clients"></a>
    </a>
     <a style="display: none;" href="/media/images/screenshots/sectionedit.png" rel="example1" title="Edit your proposal sections with our online editor"></a>     <a style="display: none;" href="/media/images/screenshots/liveedit.png" rel="example1" title="Edit your proposals live on Protosal.com using templates and variables."></a>
    </div>
    <div  style="float: left;margin-left: 150px; text-align: center;">

            <h3>Example Proposal</h3>
         <a target="_blank" href="/media/images/screenshots/ExampleTemplate.pdf" title="Click to see an example generated proposal PDF">    
        <img class="demopic" style="width: 250px" src="/media/images/screenshots/example.png" />
    </a>
    </div>
    </div>
    <br />
    <div style="clear:both;"></div>
   
  
    
</div>
<jst>  

</jst>
</script>
