<script type="text/template" id="dashboard_login_view_template">
<br />
<br />
<br />
<div id="loginwindow" style="padding-bottom: 15px; width: 610px;margin: auto; border: 1px solid #f7f7f7;">
    <div style="float: left; width: 289px; margin-top: -40px; padding: 30px;">
    <h3 style="color: #444;">proposal generation software</h3>
    <p style="color: #333;">Fast, easy and fluid. Generate proposals using templates and variables to save time!</p>
    <br />
    <ul class="icons">
    <li><img src="/media/icons/Files-Document-icon.png" />Create on the fly. Protosal gives you the flexibility to work the way you want.</li>
    <li><img src="/media/icons/contacts-blue-icon.png" />Send out emails with proposal pdfs attached straight from Protosal.</li>
    <li><img src="/media/icons/Graph-icon.png" />Track proposal metrics. Learn ahead of time what is working, and what isn't.</li>
    
    </ul>
    </div>
    <div class="logintabs" style="border: none; width: 260px; z-index: 1; float: right;overflow: hidden;" title="MGF CONSULTANTS - Ryth - Login">
        <a style="float: right;" href="#tab-2" class="register userpage button blue">Start Free Trial</a>
        <ul>
             <!--<li><a href="#tab-2">Register</a></li>
           <li><a href="#tab-3">Forgot Password</a></li>-->
        </ul>
        <div style="clear:both;"></div>
        <div class="logintab" id="tab-1">
        <br />
            <div id="loginformc"  style=" margin: auto;">
                <form id="loginform" class="pretty">
                    <fieldset> 
                        <legend></legend> 
                        <ol>
                            <li><label for="username">Email</label><input class="required" minlength="3"  value="<%= typeof route_id != "undefined" ? route_id : "" %>" id="username" name="username" type="text" /></li>
                            <li><label for="password">Password</label><input type="password" name="password" id="password" value="" class="required" minlength="6" /></li>
                        </ol>
                    </fieldset>
                    <p style="padding-left: 175px;"> 
                        <button id="loginbutton" type="submit" class="submit" value="Login" >Login</button>
                    </p>
                </form>
            </div>
        </div>
        <div class="logintab" id="tab-2">
            <div id="registerform"  style=" margin: auto;">
        
        
       
       <form id="registrationform"  class="pretty" method="post">
        
           <fieldset> 
        <legend></legend> 
           <ol>
               <li><label for="email">Email</label><input id="email" name="email" type="text" /></li>
            <li><label for="password">Password</label><input type="password" name="password" /></li>
            <li><label for="password">Password Again</label><input type="password" name="password2" /></li>
        </ol>
        </fieldset>
       <p style="padding-left: 155px;">  <button id="registerbutton" type="submit" class="submit" >Register</button></p>

       </form>

     
        </div>
    
    </div>

        <div class="logintab" id="tab-3">
            <div class="uihighlight halfsized">Ask Ryan</div>
        </div>
    </div>
</div>
<jst>  

</jst>
</script>
