<script type="text/template" id="section_list_item_template" >
    <li id="<%= id %>">
        <span class="section_name" style="width: 250px;"><%= name %></span>
        <a class="delete-section" style="float: right;">Delete</a>
        <a class="edit-section" style="float: right;">Edit</a>
        <span style="width: 20px; float: left;  cursor: pointer;" class="ui-icon ui-icon-arrow-4-diag"></span>
    </li>
</script>
