<script type="text/template" id="proposal_preview_section_template">

    <div class="preview_section_container" id="proposal_preview_section_<%= id %>">
        <h3><%= name %></h3>
        <div><%= content %></div>
    </div>

</script>    
