<script type="text/template" id="proposal_form_template">

<div id="proposal_form_container">
    <form id="add_proposal_form"  class="edit_proposal_form" enctype="multipart/form-data" >
        <fieldset>
            <table>
                <tr>
                    <td style="padding-left: 20px;">
                        <label for="">
                            Name</label>
                        <input name="name" id="proposal_name" type="text" value="<%= typeof name != "undefined" ? name : "" %>" />
                    </td>
                    <td style="padding-left: 20px;" class>
                        
                        <div id="clients_combo_container"></div>
                    </td>
                    <td style="padding-left: 20px;" id="column3">
						Fill out a template here
	                </td>
                </tr>
            </table>
            <input style="width: 800px; font-size: 9px" type="hidden" id="sectionlist" name="sectionlist" />
            </fieldset>

        </fieldset>
    </form>
    </div>
    <div id="sidemenu" style="">
    <a id="side_add_section" class=" ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Add Section</span></a><br />
    <% if(!template || GLOBALS.route_id == "") {%>
    <br />
    <a id="side_print_preview" editing="true" class="button  ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Print Preview</span></a><br />
    <a id="side_view_pdf" class="button  ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">View PDF</span></a>
    <a id="side_email_pdf" class="button  ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Email Client</span></a>
    <form action="api/pdf" method="POST" id="pdfcrowdform"><input type="hidden" id="open_pdf_proposal" name="ProposalName" /><textarea id="pdfcrowd" name="pdfdata" style="display: none;"></textarea></form>
    <% }; %>
    </div>
</div>
<div id="section_chooser_container" style="display:none;">	
    <div class="ui-widget-header">
        <h3 style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);float: left;">Add Sections</h3>
            <a class="add_sections button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" style="float:right;"><span class="ui-button-text">Add to Proposal</span></a><br />
        <div style="clear:both;"></div>
    </div>
    <ul></ul>
    <div id="atestform" class="modal_window">

</div>
<div id="email_pdf_modal">
  <form action="emailpdf" method="POST" id="email_pdf_form">
      <div class="ui-widget-header">
        <h3 style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);float: left;">Email Client</h3>
            <a class="button send_email_button" href="" style="float: right;">Send</a>
            <a class="button close-button" href="" style="float: right;">Close</a>
              
        <div style="clear:both;"></div>
    </div>
  <label>Client Email</label>
<input type="text" id="email_pdf_client" name="to" value="This template has no assigned client" />
<label>Subject</label>
<input type="text" id="email_pdf_subject" name="subject" value="New Proposal from {{client_company}}"/>
<input type="hidden" id="email_pdf_proposal" name="ProposalName" value="New Proposal from {{client_company}}"/>
<label>Message</label>
<textarea id="email_pdf_message" style="width: 450px;" name="HtmlBody">
Hi {{client_firstname}},
Find attached the requested proposal,

Thank you
</textarea>
<a href="" class="view_variables">what variables can i use?</a>
<textarea name="pdfdata" id="email_pdf_html" style="display: none;">boo</textarea>
</form>

</div>
</div>

</script>
<script type="text/template" id="toc_list_item">
    <li class="t_<%= typeof section.id != "undefined" ? section.id : section.cid %>" id="<%= typeof section.id != "undefined" ? section.id : section.cid %>" template_id="<%= section.get("template_id") %>"><%= section.get("name") %></li>
</script>
<script type="text/template" id="clients_combo_form_element">
    <label for="">
                            Client</label>
    <select name="client_id" id="client_combo">                
    <option value="">Select Client</option>
    <% _.each( models, function( clientmodel) { 
            selected = "";
            clientmodel = clientmodel.get("value");
            if( typeof client_id == "undefined") {
                client_id = "";
            }
            if( client_id == clientmodel._id) {
                selected = "selected";
            }
        %>
        <option value="<%= clientmodel._id %>" <%= selected %>><%= clientmodel.firstname %> <%= clientmodel.lastname %> <%=  clientmodel.company != '' ? " - " + clientmodel.company : "" %></option>
        <% });%>
    </select>
</script>
<script type="text/template" id="section_chooser_list_template">
    <div class="ui-widget-header">
        <h3 style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);float: left;">Add Sections</h3>
            <a class="add_sections button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" style="float:right;"><span class="ui-button-text">Add to Proposal</span></a>
            
              <a class="close-button button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" style="float:right;"><span class="ui-button-text">Close</span></a>
            
        <div style="clear:both;"></div>
    </div>
    <br />
    <a class=" new_section_button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Add New Empty Section</span></a>
    <ul>
       
        <% _.each( sections, function(section) {
        section = section.get("value");
        %>
            <li class="section_list_item" section_id="<%= section._id %>"><%= section.name %><div class="tick"></div></li>
        <% }); %>
    </ul>
    </div>
</script>
<script type="text/template" id="proposal_preview_section">
    <li class="s_<%= section.id %> section_preview section_<%= section.cid %> cid" cid="<%= section.cid %>" template_id="<%= section.get("template_id") %>">
        <div class="section">
            <h3 class="section_heading"><%= section.get("name") %></h3>
            <div class="section_content">
                    <div class='loading' style="width: 32px; margin-left: 30px; margin-top: 10px;"> </div>
            
            </div>
            <div class="section_table">
            </div>
        </div>
        <span style="width: 136px; float: right; margin-bottom: 20px;" class="editing_buttons">
        <a class="edit ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Edit</span></a><a class="delete delete_section ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button"><span class="ui-button-text">Delete</span></a>
        </span>
        <div style="clear: both;"></div>
    </li>
</script>


<script type="text/template" id="proposal_status_radio">
<label for="">
        Status</label>
    <div id="radio">
    
    <input type="radio" class="pending" id="radio1" name="status" value="pending" /><label for="radio1">Pending</label>
    <input type="radio" class="accepted" id="radio2" name="status" value="accepted" /><label for="radio2">Accepted</label>
    <input type="radio" class="declined" id="radio3" name="status" value="declined" /><label for="radio3">Declined</label>
    </div>
</script>





<script type="text/template" id="section_fee_table_template">
    <% totalprice = 0; %>
<table id="hor-minimalist-b">
    <thead>
        <tr>
            <th>Fee Name</th>
            <th  style="text-align: center;">Fee Price</th>
        </tr>
    </thead>
    <tbody>
        <% _.each( fees, function(fee) { 
            totalprice += (fee.doc.price*1);
            %>
            <tr>
                <td><%= fee.doc.name %></td>
                <td style="text-align: center;">$<%= fee.doc.price %></td>
            </tr>
        <% }); %>
           <tr>
                <td><strong>Total</strong></td>
                <td style="text-align: center;">$<%= totalprice %></td>
            </tr>
    </tbody>
</table>
</script>
<script type="text/template" id="proposal_preview_section_content">
        <div class="section_content">
                <%= typeof description != "undefined" ? description : "" %>
        </div>
</script>
<script type="text/template" id="proposal_details_template">

    <strong><%= details.get("companyname") != "" && typeof details.get("companyname") != "undefined" ? details.get("companyname") : "Example Company"  %></strong><br />
    <%= details.get("companyshortdescription") != "" && typeof details.get("companyshortdescription") != "undefined" ? details.get("companyshortdescription") : "Set your header details under the Setting tab" %><br />
    <br />
    <strong>Ph</strong>: <span style="display:none">_</span><%= details.get("phone") != "" && typeof details.get("phone") != "undefined" ? details.get("phone") : "1800 EXAMPLE" %><span style="display:none">_</span><br /> 
    
    <%= details.get("fax") != "" && typeof details.get("fax") != "undefined" ? "<strong>Fx</strong>: " + details.get("fax") : "" %>
    
</script>
<script type="text/template" id="proposal_preview">
            <div class="header">
                <div class="details proposal_details">
                    Loading
                </div>
               <div class="userlogo">
                   
                <img src="http://protosal.com/api/logo/<%= GLOBALS.username %>" />
                </div>
                
            </div>
            <div>
            <%
          var m_names = new Array("January", "February", "March",
"April", "May", "June", "July", "August", "September",
"October", "November", "December");

var d = new Date();
var curr_date = d.getDate();
if( curr_date == 1 ){
    curr_date = curr_date + "st";
} else if( curr_date == 2 ){
    curr_date = curr_date + "nd";
} else if( curr_date == 3 ){
    curr_date = curr_date + "rd";
} else {
    curr_date = curr_date+"th";
}
var curr_month = d.getMonth();
var curr_year = d.getFullYear();
thedate = (curr_date + " " + m_names[curr_month] + " " + curr_year);
if(template){
    proposal_num = "xxxxxx";
}else{
proposal_num = (((proposal_num*1) + 1000000) + "").substr(1);
}
%>
            <span style="float: left;"><%= thedate %></span><span style="float: right;" >Ref: <span id="proposal_num"><%= proposal_num %></span></span>
            </div> 
            <div style="clear:both;"></div>
            <br /><br />
            <h2 id="preview_proposal_name"><%= name %></h2>
           
            <div class="toc">
                <h3 class="section_heading">Table of contents</h3>
                <div id="proposal_preview_toc">
                    <ol id="toc_list"></ol>
                </div>
            </div>

            <div id="section_container_test">
                <ol></ol>
            </div>
            
            <textarea id="proposal_css" style="display: none;">
            <style>
				html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption, hgroup, footer, header, nav, section {
margin: 0;
padding: 0;
border: 0;
}

.proposal_preview {
	z-index: 1;
	top: 222px;
	width: 705px;
	padding: 25px 35px 25px 35px;
	color: #444;
}
.proposal_preview .header {
    height: 90px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.proposal_preview h2 {
    font-size: 1.8em;
    line-height: 1.2;
}
.proposal_preview h2.company {
    font-size: 1.4em;
    color: #555;
}
.proposal_preview .userlogo {
    height: 90px;
    float: right;
    width: 200px;
    margin-top: -15px;
    
}
.userlogo img{
	float: right;
	
	max-width: 400px;
	max-height: 95px;
}
.proposal_preview .details {
    float: left;
    font-size: 1em;
    line-height: 1.1em;
}

.proposal_preview .introduction {
    font-size: 1em;
}

.proposal_preview .section_container{ Landscaping Proposal
    margin-top: 50px;
}
.proposal_preview .section_heading.toc{
	font-size: 1.7em;
}
.proposal_preview .toc {
	margin-top: 50px;
	margin-bottom: 50px;
	
}
.proposal_preview .toc ol{
	margin-left: 75px;
	margin-top: 20px;
}
.proposal_preview .toc ol li{
	font-size: 1.3em;

	width: 590px;
}

.proposal_preview .section {
    margin-bottom: 30px;
}
.proposal_preview .section h3 {
    font-size: 1.2em;
    line-height: 1.9em;
}
.proposal_preview .section_content {
    font-size: 1em;
    padding-left: 10px;
}
.proposal_preview .section_content ul {
    padding: 15px 0 0 40px;
    line-height: 28px;
    margin-left: 100px;
}

.section_temp ul {
	
	list-style: none;
	width: 450px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 400px;
	overflow: auto;
}
.section_list_item {
	cursor:pointer;
	height: 25px; 
	border-bottom: 1px dashed #ebebeb;
	padding: 2px;
	font-size: 1.3em;
}


#hor-minimalist-b
{
	font-size: 12px;
	margin: 45px;
	margin-left: 90px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;>
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}
.delete_section {
	color: #fff;
	display: none;
}

/* Rules for preview proposal */
.editing_buttons {
	display: none;
}

</style>
</textarea>

        <div style="clear: both;"></div>
        <div style="clear: both;"></div>
</script>
