<script type="text/template" id="section_form_template">
<div id="section_form_container">
    <form id="add_section_form"  class="edit_section_form" enctype="multipart/form-data" >

        <br />
<div class="stack">
         <div class="stack1of3" style="">
            <div class="stackContent">
      <label for="">
                    Name
                </label>
                <input name="name" class="section_name" id="" type="text" value="<%= typeof name != "undefined" ? name : "" %>" />


                <br />
      <label for="">
                    Attach fees 
                </label><div style='text-align: center;'>
                <span style="float: left;">
            <div id="fee_combo_container">
        </div>
        </span>
                <input type="hidden" id="fees" />
                <button type="button" style="float: left;" id="add-fee">Create New Fee</button> <br />
                <div style="clear:both;"></div>
                
                </div>
                               <label for="">
                    Current fees
                </label>
                <ul id="sortablefees3"></ul>
                   </div>
        </div>
        <div class="stack2of3">
        
            <div class="stackContent">
        <label for="">
                    Content
                </label>
            <textarea  class="jckeditor" rows="4" name="description" cols="20"><%= typeof description != "undefined" ? description : "" %></textarea>
            <br />
            <a href="" class="view_variables">What variables can I use?</a>
     
            <input  style="float: left; width: 600px; margin-left: 30px;" type="hidden" name="feelist" id="feelist" value="" />
           
             </div>
        </div>
        <div style="clear:both;"></div>
      
        
        
</div>
    </form>

            <div id="fee_form_modal" class="modal_window"></div>


    <jst>


    </jst>
</script>
<script type="text/template" id="fee_combo_template">
    <select id="fee_combo">
        <option>Select Fee</option>
        <% _.each( fees, function( fee ){ %>
        <option id="<%= fee.id %>"><%= fee.label %></option>
        <% }); %>
    </select>
</script>
