<script type="text/template" id="user_form_template">
    <div id="user_setting_container">
    
    
       
        <form id="add_settings_form" action="api/user" class="edit_settings_form" enctype="multipart/form-data" method="post">
        
    
    
    
    <br />
<p class="pagedesc"><strong>Tip: </strong>Your uploaded logo will apear on all your proposals</p>
<div style="width: 700px; margin: auto;">
    <div class="stack">
        <div class="stack1of2">
            <div class="stackContent">
                        <h3>User Details</h3>
                                      <label for="">
                            Company Name
                        </label>
                        <input name="companyname" id="" type="text" value="<%= typeof companyname != "undefined" ? companyname : "" %>" />

                        <label for="">
                            Description
                        </label>
                        <input name="companyshortdescription" id="" type="text" value="<%= typeof companyshortdescription != "undefined" ? companyshortdescription : "" %>" />
                        
                        <label for="">
                            Address
                        </label>
                        <input name="address" id="" type="text" value="<%= typeof address != "undefined" ? address : "" %>" />
                        <label for="">
                            Street
                        </label>
                        <input name="street" id="" type="text" value="<%= typeof street != "undefined" ? street : "" %>" />
                        <label for="">
                            City
                        </label>
                        <input name="city" id="" type="text" value="<%= typeof city != "undefined" ? city : "" %>" />
                        <label for="">
                            Phone
                        </label>
                        <input name="phone" id="" type="text" value="<%= typeof phone != "undefined" ? phone : "" %>" />
                        <label for="">
                            Fax
                        </label>
                        <input name="fax" id="" type="text" value="<%= typeof fax != "undefined" ? fax : "" %>" />
            </div>
        </div>
        <div class="stack1of2">
            <div class="stackContent">
                           <h3>Upload a logo</h3>
                            <div style="border: 1px dashed #ccc; width: 400px; height: 95px; overflow: hidden;">
                                    <img src="/api/logo/<%= GLOBALS.username %>" style="max-width: 400px;max-height: 95px;"/>
                                    </div>
                          <br />
                                    <p>Image: <input type="file" name="image" /></p>
                                  
                          

                            <br />
                            <br />
                            <h3>Change Password</h3> 
                            <label>Old Password</label>
                            <input type="password" name="old_password" />
                            <label>New Password</label>
                            <input type="password" name="new_password" />
                            <label style="width: 200px;">Confirm Password</label>
                            <input type="password" name="confirm_password" />
                           
            </div>
        </div>
    </div>

   
    
    
    
    
    
    
    
    
    
    
 

        
        </form>
       
    </div>
</div>
<jst>

</jst>
</script>
