<script type="text/template" id="page_header_template">
    <div class="ui-widget-header">
        <h3 style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);float: left;"><%= title %></h3>
        <% _.each( buttons, function( button ) { %>
            <a class="button <%= button.classes %> <%= button.text == "Save" ? "ui-state-save" : "" %>" controller="<%= button.controller%>" href="<%= button.href %>" style="float: right;"><%= button.text %></a>
        <% }); %>           
        <div style="clear:both;"></div>
    </div>
    <jst>
        $(".ui-widget-header .button").rythbutton();
        $('.settings_save').unbind('click');
    </jst>
</script>
<script type="text/template" id="view_variables">

    <div class="ui-widget-header">
        <h3 style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);float: left;">Variables you can use</h3>
        
            <a class="button close-button variables_close" href="" style="float: right;">Close</a>
                       
        <div style="clear:both;"></div>
    </div>
    <div class="stack">
        <div class="stack1of3">
            <div class="stackContent">
                <p style="padding: 20px;">Template variables can be used anywhere in your proposal such as the section description, section header or fee name.  They can be accessed by putting {{}} around what ever variable you wish to access e.g. {{client_name}}.  </p>
            </div>
        </div>
        <div class="stack1of3">
            <div class="stackContent" style="padding: 20px;">
               <h3>Client Variables</h3>
            <ul>
            <li><strong>{{client_email}}</strong> - Email of the client</li>
            <li><strong>{{client_firstname}}</strong> - First name of the client</li>
            <li><strong>{{client_lastname}}</strong> - Last name of the client</li>
            <li><strong>{{client_phone}}</strong> - Client phone number</li>
            <li><strong>{{client_otherphone}}</strong> - Client alt phone number</li>
            <li><strong>{{client_company}}</strong> - Client company</li>
            <li><strong>{{client_address}}</strong> - Client company address</li>
            <li><strong>{{client_address2}}</strong> - Client company alt address</li>
            <li><strong>{{client_city}}</strong> - Client company city</li>
            <li><strong>{{client_state}}</strong> - Client company state</li>
            <li><strong>{{client_zipcode}}</strong> - Client company zip code</li>
            <li><strong>{{client_country}}</strong> - Email of the client</li>
            </ul>
            
            
            </div>
        </div>
        <div class="stack1of3">
            <div class="stackContent" style="padding: 20px;">
            <h3>Proposal Variables</h3>
            <ul>
            <li><strong>{{proposal_name}}</strong> - The name of current proposal</li>
            
            </ul>
            <h3>My Variables</h3>
            <ul>
            <li><strong>{{my_companyname}}</strong> - Your company name</li>
            <li><strong>{{my_companyshortdescription}}</strong> - Your company description</li>
            <li><strong>{{my_address}}</strong> - Your companies address</li>
            <li><strong>{{my_street}}</strong> - Your companies street</li>
            <li><strong>{{my_city}}</strong> - Your companies city</li>
            <li><strong>{{my_phone}}</strong> - Your companies phone</li>
            <li><strong>{{my_fax}}</strong> - Your companies fax number</li>
            </ul>
            </div>
        </div>
    </div>
    <jst>
        $(document).ready(function{
        
        $(".close-button").rythbutton();
        })
    </jst>
</script>
